<!-- Validation failure messages -->
<% if @firm.errors.any? %>
  <% @firm.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Firm</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_firm" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @firm.name %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
      </div>

      <!-- Label and input for industry -->
      <div class="form-group">
        <label for="industry" class="control-label">
          Industry
        </label>

        <input type="text" id="industry" name="industry" placeholder="Industry" class="form-control" value="<%= @firm.industry %>">
      </div>

      <!-- Label and input for on_campus -->
      <div class="form-group">
        <label for="on_campus" class="control-label">
          On campus
        </label>
        <%= select_tag(:on_campus, options_for_select(["Yes","No"], "Yes"), :class => "form-control")%>

      </div>

      <!-- Label and input for location -->
      <div class="form-group">
        <label for="location" class="control-label">
          Location
        </label>

        <input type="text" id="location" name="location" placeholder="Location" class="form-control" value="<%= @firm.location %>">
      </div>

      <!-- Label and input for geography -->
      <div class="form-group">
        <label for="geography" class="control-label">
          Geography
        </label>

        <input type="text" id="geography" name="geography" placeholder="Geography" class="form-control" value="<%= @firm.geography %>">
      </div>

      <!-- Label and input for functional_fit -->
      <div class="form-group">
        <label for="functional_fit" class="control-label">
          Functional fit
        </label>
        <%= select_tag(:functional_fit, options_for_select(["Yes","No"], "Yes"), :class => "form-control")%>

      </div>

      <!-- Label and input for industry_fit -->
      <div class="form-group">
        <label for="industry_fit" class="control-label">
          Industry fit
        </label>
        <%= select_tag(:industry_fit, options_for_select(["Yes","No"], "Yes"), :class => "form-control")%>

      </div>

      <!-- Label and input for booth_alumni -->
      <div class="form-group">
        <label for="booth_alumni" class="control-label">
          Booth alumni
        </label>

        <%= select_tag(:booth_alumni, options_for_select(["Yes","No"], "Yes"), :class => "form-control")%>
      </div>

      <!-- Label and input for firm_score -->
      <div class="form-group">
        <label for="firm_score" class="control-label">
          Firm score
        </label>

        <input type="text" id="firm_score" name="firm_score" placeholder="Firm score" class="form-control" value="<%= @firm.firm_score %>">
      </div>

      <!-- Label and input for notes -->
      <div class="form-group">
        <label for="notes" class="control-label">
          Notes
        </label>

        <textarea id="notes" name="notes" placeholder="Notes" class="form-control" rows="3"><%= @firm.notes %></textarea>
      </div>

      <button class="btn btn-primary">
        Create Firm
      </button>
      or
      <a href="/firms">Cancel</a>
    </form>
  </div>
</div>
