<!-- Validation failure messages -->
<% if @discussion.errors.any? %>
  <% @discussion.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit <%= @discussion.date %> discussion with <%= @discussion.contact.name %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_discussion/<%= @discussion.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
      </div>

      <!-- Label and input for contact_id -->
      <div class="form-group">
        <label for="contact_id" class="control-label">
          Contact
        </label>

        <%= select_tag(:contact_id, options_from_collection_for_select(Contact.where(user_id: current_user.id).order(:name), :id, :name, @discussion.contact_id), :class => "form-control")%>
        <p><a href="/contacts/new">or add a new contact</a></p>
      </div>

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date
        </label>

        <input type="text" id="date" name="date" placeholder="Date" class="form-control" value="<%= @discussion.date %>">
      </div>

      <!-- Label and input for notes -->
      <div class="form-group">
        <label for="notes" class="control-label">
          Notes
        </label>

        <textarea id="notes" name="notes" placeholder="Notes" class="form-control" rows="3"><%= @discussion.notes %></textarea>
      </div>

      <!-- Label and input for follow_up -->
      <div class="form-group">
        <label for="follow_up" class="control-label">
          Follow up
        </label>

        <%= select_tag(:follow_up, options_for_select(["Yes","No"], @discussion.follow_up), :class => "form-control")%>
      </div>

      <!-- Label and input for follow_up_time -->
      <div class="form-group">
        <label for="follow_up_time" class="control-label">
          Follow up time
        </label>

        <input type="text" id="follow_up_time" name="follow_up_time" placeholder="Follow up time" class="form-control" value="<%= @discussion.follow_up_time %>">
      </div>

      <!-- Label and input for priority -->
      <div class="form-group">
        <label for="priority" class="control-label">
          Response status
        </label>

        <%= select_tag(:priority, options_for_select(["Need to contact","Response pending","Confirmed"], @discussion.priority), :class => "form-control")%>
      </div>

      <button class="btn btn-primary">
        Update Discussion
      </button>
      or
      <a href="/discussions/<%= @discussion.id %>">Cancel</a>
    </form>
  </div>
</div>
